*{outline: none;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Ronduit';
    src: url(../css/RonduitCapitals-Light.otf);
  }
  html{

  }
body{ 
    
    background-color: #ffa15550;
}
/* Весь блок контент */
.maincon-content{
    border-radius: 50px;
    background-color: white;
    max-width: 1600px;
    margin: 0 auto;
    margin-top: -20px;
   

 } 
/* Не основной контент */
.content{
    background-color: white;
    max-width: 1600px;
    margin: 0 auto;
  
}
/* Слайдер */
.con-slider{
    background-color: #FFA255;
    height: 800px;
    /* background-color: #FFA255; */
}
.slider{
    height: 780px;
   
    margin: 0 auto;
    max-width: 1600px;
}
 h1{
        font-family: 'Ronduit';
       }
/* Блоки */
.block{
    
    
    text-align: center;
    padding-top: 100px;
   
    min-height: 650px;
    
}
.main-conteiner{

    min-height: 200px;
    color: white;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
    margin-top: 80px;
    background-color: #FFA255;
    margin-top: 150px;
    
}
/* Не основные */


/* ТЕЕЕКСТА */
h1,h2,h3,h4{
    font-family: 'Ronduit', Arial, Helvetica, sans-serif;
}
h3{
    font-size: 20px;
}
h4{
    line-height: 22px;
    letter-spacing: 2px;
    font-size: 14px;
}
.text{
    max-width: 1600px;
}
/* Стрелка наверх */
.arrow-up{
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80px;
}
.arrow-up:hover{
    transform: scale(1.2);
}
footer{

    color: white;
    /* padding: 50px 20px 50px 20px; */
    margin-top: 80px;
    background-color: #FFA255;
    margin-top: 150px;
    height: 100px;

}
@media screen and (max-width: 1500px) {
    .text-four img{
        height:  100px;
    }
    .maincon-content{
        width: 83%;
    }
    nav h3{
        font-size: 15px;
        
    }
   a{
       width: 10px;
   }
   .head nav{
       /* margin-left: 40%; */
   }
}
@media screen and (max-width: 1100px) {

   .head nav{
       
   }
}
@media screen and (max-width: 900px) {
    .mainmenu a{
        width: 60px;
    }
    nav h3{
        font-size: 10px;
        
    }
   
    .head nav{
        margin-left: 30%;
    }
 } 