/* .text-three h2{
    color: white;
/* }  */

 /*
.conteiner img{
top: 100px;
left: 145px;
position: absolute;
max-width: 348px;
max-height: 348px;
}
.author{ top: 480px;
left: 145px;
position: absolute;
}
body{
max-height: 2700px;
}
.three-but a{

text-decoration: none;

}

.block-text-con{
text-align: left;
max-width: 900px;
margin-top: 80px;
margin-left: 40%;

}
.three-but{
top: 350px;
right: 25%;
position: absolute;
transition: all 0.2s ease;
color: #FFA255;
height: 80px;
width: 220px;
border: none;
text-shadow: none;
border-radius: 120px;;
/* margin:10% 0 0 38%; */
/* cursor: pointer;
/* }  */
/* .three-but:hover{
transform: scale(1.2);
}
.button-prev,.button-next{
/* background-color:#FFA255 ; */
/* margin-top: 100px;
position: absolute;
transition: all 0.2s ease;
color: white;
height: 60px;
width: 160px;
border: none;
text-shadow: none;
cursor: pointer;

}
li{

list-style: none;
}
.button-prev:hover{

transform: scale(1.2);
} 
.button-next:hover{
transform: scale(1.2);
}
.button-prev{ */
/* left: 40%; */
/* position: absolute; */
/* border-radius: 100px 0 0 100px;
}
.button-next{
right: 40%; */
/* position: absolute; */
/* border-radius: 0 100px 100px 0;
}
body{
height: auto;
}
.content{

padding-bottom: 200px;
text-align: center;
}

.arrow-up{
margin-top: 80px;
}
.conteiner{
position: relative;
height: 500px;
color: #2D2D2D;
margin: 0 auto;
padding: 20px 20px 20px 20px;
margin-top: 80px;
background-color: #fff;
margin-top: 150px;
}
.container-link{
padding: 20px 40px 20px 40px;
margin-top: 50px;

} */


/* table {
font-family: 'Montserrat-Light',sans-serif;
margin-bottom: 20px;
border: 1px solid #dddddd;
border-collapse: collapse; 
}
table{

margin: 0 auto;
} */
/* table th {
font-weight: bold;
padding: 5px;
background: #efefef;
/* background-color: #EE7D2B; */
/* color: white;  */
/* }
table td {
border: 1px solid #dddddd;
padding: 5px;
} */

/* Полнвый контент */
/* .full-content{
padding-bottom: 200px;

background-color: white;
/* max-width: 1600px; */
/* margin: 0 auto; 

}
.main-text{
text-align: center;
padding-top: 150px;
} */ 
