<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Материалы</title>
 
        <meta name="google" content="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
       
            <link rel="stylesheet" href="{% static 'css/main.css' %}">
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
            <link rel="shortcut icon" href="{% static '/img/favicon.ico' %}" />
            <style>
                   table {
	font-family: 'Montserrat-Light',sans-serif;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-collapse: collapse; 
}
table{
   
    margin: 0 auto;
}
table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
    background-color: #EE7D2B;
    color: white;
}
table td {
	border: 1px solid #dddddd;
	padding: 5px;
}

            </style>
    </head>

    <body>
        
        {% block content %}

        {% endblock content %}

        
    </body>
</html>