{% load static %}
{% block header%}
<header>
        <div class="head">
        <h1><a href="http://127.0.0.1:8000" class="head-a">СКБ</a> </h1>
        <nav>
            <ul class="mainmenu"> 
            <li><a href="http://127.0.0.1:8000"><h3>Главная</h3></a>
            <ul class="submenu">
                <li><a href="#"class="yak1"><h3>СКБ это</h3></a></li>
                <li><a href="#"class="yak2"><h3>Кто мы</h3></a></li>
                <li><a href="#"class="yak3"><h3>МАТЕРИАЛЫ</h3></a></li>
                <li><a href="#"class="yak4"><h3>Где мы</h3></a></li>
            </ul>
        </li>
            <li><a href="http://127.0.0.1:8000/blog/"><h3>Материалы</h3></a></li>
            <form action="{% url 'search_results' %}" method="get">
                <input name="q" type="text" placeholder="Поиск по сайту..." required>{% csrf_token %}
                <button class="search-button"></button>
            </form> 
           
        </ul>
        <div class="dropdown">
            <input type="checkbox" id="menu" class="checkbox">
            <label for="menu" class="seen"><img src="{%static 'img/burger-menu.svg'%}" alt="" class="s1"></label>
            <label for="menu" class="hide"><img src="{%static 'img/close-menu.svg'%}" alt="" class="s2"></label>
                <ul>
                    <li ><a href="http://127.0.0.1:8000"><h3>Главная</h3></a>
                    <li><a href="http://127.0.0.1:8000/blog/"><h3>Материалы</h3></a></li>
                    <li class="last">
                        <form action="{% url 'search_results' %}" method="get">
                        <input name="q" type="text" placeholder="Поиск по сайту..." required>
                        <button class="search-button"></button>
                    </form>
                 </li>
            </ul>
            
           </div>
       
        
        </ul>
       
    </nav>
   
    
    </div>
    
    </header>
        
    {% endblock header %}