{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
 .conteiner ul, h4 iframe, table ,hr, .submenu li, .block-text-con img, br{
    display: none;
}

 
  
</style>
{% block header %} {% include 'header.html' %} {% endblock header %}

<div class="content">
    <div class="main-text"><h1>Материалы</h1></div>  
      {% for post in post_list %}
   
        
        <div class="conteiner">
        
            <h2>{{ post.title }}</h2>
            <div class="container-content">
            {% if post.image %}
            <img src="{{post.image.url}}">
            {% else %}
            <img src="{%static 'img/no-image-big.png'%}" alt="">
            {% endif %}
            <div class="container-text">
        {{post.content|safe|truncatewords_html:58}}
            <p class="author">  Публикация:{{ post.created_on}}</p>
            <a href="{% url 'post_detail' post.slug  %}"><button class="three-but"><h3>Читать ></h3></button></a>
            
        </div>
          
      
            
            
        </div>
        </div>
        
        {% endfor %}
       <img src="{%static 'img/arrow-up.png'%}" alt="" class="arrow-up">
      
        {% if is_paginated %}

        <div class="paginate">
  <ul > 
    {% if page_obj.has_previous %}

   <li> <a href="?page=1" class="first">В начало</a></li> 
   <li> <a href="?page={{ page_obj.previous_page_number }}">&lt;</a></li> 
   
    {% endif %}
    {% for i in page_obj.paginator.page_range %}
        {% if i > page_obj.number|add:-2 and i < page_obj.number|add:3 %}
            {% if page_obj.number == i  %}
                <li class="page-item " aria-current="page"><a class="count" href="#"> {{ i }}  </a></li>
            {% else %}
                <li class="page-item active"><a class="page-link" href="?page={{ i }}"> {{ i }} </a></li> 
            {% endif %}
        {% endif %}
    {% endfor %}
    
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}">></a></li>
    <li><a href="?page={{ page_obj.paginator.num_pages }}" class="last">В конец</a></li>
    {% endif %}
  </ul>
</div>
  
{% endif %}


{%endblock%}