{% extends 'base.html' %} 
{% load static %}
{% block content %}
{% block header %} {% include 'header.html' %} {% endblock header %}
<div class="full-content">
        <h1 class="main-text">{% block title %} {{ object.title }} {% endblock title %}</h1>
        <div class="container-link"><p class="text ">{{ object.content | safe }}</p></div>
        <img src="{%static 'img/arrow-up.png'%}" alt="" class="arrow-up">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
      </div>
      
</div>

{% endblock content %}